<!DOCTYPE html>
<head>
  <title>Predict Form</title>
</head>
<body>
  <form method="post">
    <h5>Process temperature [K]	</h5>
    <input type="number" name="num_1" step="0.01" value="{{num}}" placeholder="Enter a number (305-313.8)">
    <br>
    <h5>Rotational speed [rpm]	</h5>
    <input type="number" name="num_2" step="0.01" value="{{num}}" placeholder="Enter a number (1168-2886)">
    <br>
    <h5>Tool wear [min]	</h5>
    <input type="number" name="num_3" value="{{num}}" placeholder="Enter a number (0-253)">
    <br>
    <h5>TWF	</h5>
    <input type="number" name="num_4" value="{{num}}" placeholder="Enter a number (0-1)">
    <br>
    <h5>HDF</h5>
    <input type="number" name="num_5" value="{{num}}" placeholder="Enter a number (0-1)">
    <br>
    <h5>PWF</h5>
    <input type="number" name="num_6" value="{{num}}" placeholder="Enter a number (0-1)">
    <br>
    <h5>OSF</h5>
    <input type="number" name="num_7" value="{{num}}" placeholder="Enter a number (0-1)">
    <br>
    <h5>RNF</h5>
    <input type="number" name="num_8" value="{{num}}" placeholder="Enter a number (0-1)">
    <br>


    <input type="submit">
    </form>

<p>Result : {{result}}</p>
</body>
